/* Slider styling */
/* Adapted from https://www.w3schools.com/howto/howto_js_rangeslider.asp */


input[type="range"] {
    /* Override default CSS styles */
    -webkit-appearance: none;
    appearance: none;

    /* Remove outline */
    outline: none;

    /* Box size */
    width: 100%;
    height: 2rem;

    /* Round Border */
    border-radius: 1rem;
    border: 2px solid lightgrey;

    /* 0.2 seconds transition on hover */
    -webkit-transition: .2s;
    transition: opacity .2s;
}


/* Slider handle (Chrome, Opera, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
    /* Override default look */
    -webkit-appearance: none;
    appearance: none;

    /* Set a specific slider handle size */
    width: 2rem;
    height: 2rem;

    /* Make it round */
    border-radius: 50%;

    /* Set slider handle color */
    background: transparent;
    border: 0.25rem solid white;

    /* interactive cursor on hover */
    cursor: pointer;
}

/* Slider handle (Firefox)  */
input[type="range"]::-moz-range-thumb {
    /* Keep borders inside slider */
    box-sizing: border-box;

    /* Set a specific slider handle size */
    width: 2rem;
    height: 2rem;

    /* Make it round */
    border-radius: 50%;

    /* Set slider handle color */
    background: transparent;
    border: 0.25rem solid white;

    /* interactive cursor on hover */
    cursor: pointer;
}


/*  Gradient specific to each slider */

input[type="range"]#lSlider {
    background-image: linear-gradient(in oklab to right,
            oklch(00%, var(--chroma), var(--hue)),
            oklch(05%, var(--chroma), var(--hue)),
            oklch(10%, var(--chroma), var(--hue)),
            oklch(15%, var(--chroma), var(--hue)),
            oklch(20%, var(--chroma), var(--hue)),
            oklch(25%, var(--chroma), var(--hue)),
            oklch(30%, var(--chroma), var(--hue)),
            oklch(35%, var(--chroma), var(--hue)),
            oklch(45%, var(--chroma), var(--hue)),
            oklch(55%, var(--chroma), var(--hue)),
            oklch(65%, var(--chroma), var(--hue)),
            oklch(70%, var(--chroma), var(--hue)),
            oklch(75%, var(--chroma), var(--hue)),
            oklch(80%, var(--chroma), var(--hue)),
            oklch(85%, var(--chroma), var(--hue)),
            oklch(90%, var(--chroma), var(--hue)),
            oklch(95%, var(--chroma), var(--hue)),
            oklch(100%, var(--chroma), var(--hue)));
}


input[type="range"]#cSlider {
    background-image: linear-gradient(in oklab to right,
            oklch(var(--luminescence), 0.0, var(--hue)),
            oklch(var(--luminescence), 0.01, var(--hue)),
            oklch(var(--luminescence), 0.02, var(--hue)),
            oklch(var(--luminescence), 0.03, var(--hue)),
            oklch(var(--luminescence), 0.04, var(--hue)),
            oklch(var(--luminescence), 0.05, var(--hue)),
            oklch(var(--luminescence), 0.06, var(--hue)),
            oklch(var(--luminescence), 0.07, var(--hue)),
            oklch(var(--luminescence), 0.08, var(--hue)),
            oklch(var(--luminescence), 0.09, var(--hue)),
            oklch(var(--luminescence), 0.10, var(--hue)),
            oklch(var(--luminescence), 0.11, var(--hue)),
            oklch(var(--luminescence), 0.12, var(--hue)),
            oklch(var(--luminescence), 0.13, var(--hue)),
            oklch(var(--luminescence), 0.14, var(--hue)),
            oklch(var(--luminescence), 0.15, var(--hue)),
            oklch(var(--luminescence), 0.16, var(--hue)),
            oklch(var(--luminescence), 0.17, var(--hue)),
            oklch(var(--luminescence), 0.18, var(--hue)),
            oklch(var(--luminescence), 0.19, var(--hue)),
            oklch(var(--luminescence), 0.20, var(--hue)),
            oklch(var(--luminescence), 0.21, var(--hue)),
            oklch(var(--luminescence), 0.22, var(--hue)),
            oklch(var(--luminescence), 0.23, var(--hue)),
            oklch(var(--luminescence), 0.24, var(--hue)),
            oklch(var(--luminescence), 0.25, var(--hue)),
            oklch(var(--luminescence), 0.26, var(--hue)),
            oklch(var(--luminescence), 0.27, var(--hue)),
            oklch(var(--luminescence), 0.28, var(--hue)),
            oklch(var(--luminescence), 0.29, var(--hue)),
            oklch(var(--luminescence), 0.30, var(--hue)),
            oklch(var(--luminescence), 0.31, var(--hue)),
            oklch(var(--luminescence), 0.32, var(--hue)),
            oklch(var(--luminescence), 0.33, var(--hue)),
            oklch(var(--luminescence), 0.34, var(--hue)),
            oklch(var(--luminescence), 0.35, var(--hue)),
            oklch(var(--luminescence), 0.36, var(--hue)),
            oklch(var(--luminescence), 0.37, var(--hue)));
}

input[type="range"]#hSlider {
    background-image: linear-gradient(in oklab to right,
            oklch(75%, 0.37, 0deg),
            oklch(75%, 0.37, 10deg),
            oklch(75%, 0.37, 20deg),
            oklch(75%, 0.37, 30deg),
            oklch(75%, 0.37, 40deg),
            oklch(75%, 0.37, 50deg),
            oklch(75%, 0.37, 60deg),
            oklch(75%, 0.37, 70deg),
            oklch(75%, 0.37, 80deg),
            oklch(75%, 0.37, 90deg),
            oklch(75%, 0.37, 100deg),
            oklch(75%, 0.37, 110deg),
            oklch(75%, 0.37, 120deg),
            oklch(75%, 0.37, 130deg),
            oklch(75%, 0.37, 140deg),
            oklch(75%, 0.37, 150deg),
            oklch(75%, 0.37, 160deg),
            oklch(75%, 0.37, 170deg),
            oklch(75%, 0.37, 180deg),
            oklch(75%, 0.37, 190deg),
            oklch(75%, 0.37, 200deg),
            oklch(75%, 0.37, 210deg),
            oklch(75%, 0.37, 220deg),
            oklch(75%, 0.37, 230deg),
            oklch(75%, 0.37, 240deg),
            oklch(75%, 0.37, 250deg),
            oklch(75%, 0.37, 260deg),
            oklch(75%, 0.37, 270deg),
            oklch(75%, 0.37, 280deg),
            oklch(75%, 0.37, 290deg),
            oklch(75%, 0.37, 300deg),
            oklch(75%, 0.37, 310deg),
            oklch(75%, 0.37, 320deg),
            oklch(75%, 0.37, 330deg),
            oklch(75%, 0.37, 340deg),
            oklch(75%, 0.37, 350deg),
            oklch(75%, 0.37, 360deg));
}
